[Desktop Entry]
Encoding=UTF-8
Name=Modestcoin Core
Comment=Connect to the Modestcoin P2P Network
Comment[de]=Verbinde mit dem Modestcoin peer-to-peer Netzwerk
Comment[fr]=Modestcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Modestcoin, eşten eşe kriptografik sanal para birimi
Exec=modestcoin-qt %u
Terminal=false
Type=Application
Icon=modestcoin128
MimeType=x-scheme-handler/modestcoin;
Categories=Office;Finance;
